.col-md-4{
    border: solid black;
    padding: 60px 40px;
    margin-top: 180px;
}
body{
    background: url("/hospital.github.io/images/Bg_HIMS.jpeg");
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; 
}
#Ue_Lbl{
    color: black;
}
#Up_Lbl{
    color: black;
}
#Remember{
    color: black;
}
img{
    width: 150px;
}
h1{
    color: black;
    text-align: center;
    font-weight: bolder;
}
